.index-links div{
  margin: 16px 16px 0;
  width: calc(100%-32px);
  height:100%;

}
.links-wrapper{
  margin-left: 120px;
}
.index-boxlink-1{
  width: 300px;
  background-image: url(img/mobiles-banner.jpg) ;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
}
.index-boxlink-2{
  width: 300px;
  background-image: url(img/laptops-banner.jpg) ;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.index-boxlink-3{
  width: 300px;
  background-image: url(img/mouse-banner.jpg) ;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
}
.index-boxlink-4{
  width: 300px;
  background-image: url(img/gadgets-banner.jpg) ;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.index-boxlink-5{
  width: 300px;
  background-image: url(img/desktop-banner.jpg) ;
  background-repeat: no-repeat;
  background-size: cover;
}
.index-boxlink-6{
  width: 300px;
  background-image: url(img/gaming-banner.jpg) ;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
}
